---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro says what</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>About Me</h1>
        <h2>... I'm learning Astro and I'm stuck in tutorial hell.</h2>
        <p>Here's some Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque natus ad, cum tempora nostrum repudiandae. Iste voluptas, alias id odit eligendi laborum error natus, consequuntur optio accusantium quaerat corrupti possimus.</p>
        <p>Have you ever considered having Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas deserunt omnis molestiae dolore neque doloribus, beatae voluptatum ullam nisi necessitatibus inventore maiores tempore asperiores quibusdam fugiat nam ex rem saepe.</p>
	</body>
</html>
