---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "Astro says what";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		
		<h1>My Learning Blog</h1>
        <p>This is a blog page. With Blog Stuff</p>

        <ul>
            <li><a href="/posts/post-1">Post 1 - The cry for help</a></li>
            <li><a href="/posts/post-2">Post 2 - The revenge of the markdown</a></li>
            <li><a href="/posts/post-3">Post 3 - A new nope</a></li>
        </ul>
		<Footer />
	</body>
</html>